@import 'normalise';

:root {
  --back: #fff1e3;
  --fore: #000;
  --head: #af54a3;
}

body {
  font: 1em/1.4em 'Inter', sans-serif;
  background-color: var(--back);
  margin: 1em;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
  color: var(--head);
  line-height: 1.4em;
}

#calculator {
  label {
    display: block;
    margin: 1em 0;

    input[type="text"], input[type="number"] {
      margin-left: 1ch;
      max-width: 6ch;
      border: none;
      border-bottom: 1px solid var(--fore);
      background: none;
    }
  }

  label, p {
    font-weight: bold;;
  }

  span {
    font-weight: normal;
  }
}

#iced-ratios {
  margin-top: 2em;
}
