@use "fonts.scss";

:root {
  --back: #fff1e3;
  --fore: rgb(68 54 54 / 90%);
  --head: #af54a3;
}

body {
  font: 1em/1.4em 'Inter', sans-serif;
  background-color: var(--back);
  margin: 1em;
  color: var(--fore);
}

h1, h2 {
  font-family: 'Inter', sans-serif;
  color: var(--head);
  line-height: 1.4em;
}

#calculator {
  label {
    display: block;
    margin: 1em 0;

    input {
      margin-left: 1ch;
      max-width: 8ch;
      font: 1em 'Inter', sans-serif;
      color: var(--fore);
      padding: 0 0 0.1em 0;
      border: none;
      border-bottom: 1px solid var(--fore);
      background: none;
    }
  }

  label, p {
    font-weight: bold;;
  }

  span {
    font-weight: normal;
    margin-left: 0.3ch;
  }
}

#iced-ratios {
  margin-top: 2em;
}
